Do not put on web or share notes without written permission.
Notes created By Reshma

### Pandas Time Series

We can find out the data within a certain range of date and time by using pandas module named Time series.

    - Equivalent to date time python package.
    
    - Used to deal with date time.
    
    - Complex operation on date time can be done.

    TimeStamp
        21-Jan-2021
        21-01-2021
        21-01-21
        21-01-2021 30:12:11

#### Converting to timestamp

In [1]:
strDate = '15-January-2021'

In [2]:
type(strDate)

str

In [3]:
import pandas as pd

In [4]:
dateFormat = pd.to_datetime(strDate,format='%d-%B-%Y')

In [5]:
dateFormat

Timestamp('2021-01-15 00:00:00')

In [6]:
type(dateFormat)

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
import numpy as np
dates = ['2020-11-25 2:30:00 PM', 'Jan 5, 2020 18:45:00', 
         '01/11/2020', '2020.01.11', '2020/01/11', '20201105']

In [8]:
pd.to_datetime(dates)

DatetimeIndex(['2020-11-25 14:30:00', '2020-01-05 18:45:00',
               '2020-01-11 00:00:00', '2020-01-11 00:00:00',
               '2020-01-11 00:00:00', '2020-11-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

### How to convert to Timestamp

------ ------ --------------------------------------------
    %a Weekday as locale's abbreviated name Sun, Mon
------ ------ --------------------------------------------
    %A Weekday as locale's full name. Sunday, Monday
---------------- -----------------------------------------
    %w Weekday as a decimal number Sunday : 0, Saturday:6
-------------------------- -------------------------------------

------------ --------------------------------------------
%a Weekday as locale’s abbreviated name Sun, Mon
------ ------ --------------------------------------------
%d Day of the month as a zero-padded decimal number. 01, 02
------ ------ --------------------------------------------

------ ------ --------------------------------------------
    %b Month as locale’s abbreviated name. Jan, Feb Dec
------ ------ --------------------------------------------
    %B Month as locale’s full name. January
------ ------ --------------------------------------------
    %m Month as a zero-padded decimal number. 01, 02
------ ------ --------------------------------------------


------ ------ --------------------------------------------

%y Year without century. 2000 as 00

------ ------ --------------------------------------------
%Y Year with century as a decimal number. 2013
------ ------ --------------------------------------------

------ ------ --------------------------------------------
    %H Hour (24-hour clock). 00, 01, …, 23
------ ------ --------------------------------------------
    %I Hour (12-hour clock) 01, 02, …, 12
------ ------ --------------------------------------------
    %M Minute as a zero-padded decimal number. 00, 01, …, 59
------ ------ --------------------------------------------
    %S Second as a zero-padded decimal number. 00, 01, …, 59
------ ------ --------------------------------------------

In [9]:
strdata = '21-Jan-2021'

In [10]:
datetime = pd.to_datetime(strdata,format='%d-%b-%Y')

In [11]:
datetime

Timestamp('2021-01-21 00:00:00')

In [12]:
strdata = '22-Dec-2020'

In [13]:
datetime = pd.to_datetime(strdata,format='%d-%b-%Y')

In [14]:
datetime

Timestamp('2020-12-22 00:00:00')

### Available Attributes

    day	 
    dayofweek	 
    dayofyear	 
    days_in_month	 
    daysinmonth	 
    hour	 
    is_leap_year	 
    is_month_end	 
    is_month_start	 
    is_quarter_end	 
    is_quarter_start	 
    is_year_end	 
    is_year_start	 
    minute	 
    month	 
    second	 
    value	 
    week	 
    weekofyear	 
    year

In [15]:
datetime

Timestamp('2020-12-22 00:00:00')

####  Day of the month in interger representation

In [16]:
datetime.day

22

####  Day of the week in interger representation

Day starts with monday having 0, tuesday -1

In [17]:
datetime.dayofweek

1

####  Day of the year in interger representation

In [18]:
datetime.dayofyear

357

#### Number of days in that month

In [19]:
datetime.days_in_month

31

In [20]:
datetime.daysinmonth

31

In [21]:
import pandas as pd
import numpy as np
date = 'Jan 5, 2021 14:45:00'

In [22]:
datetime1 = pd.to_datetime(date)

In [23]:
datetime1.hour

14

In [24]:
datetime.is_leap_year

True

In [25]:
datetime1.is_leap_year

False

In [26]:
datetime1.is_month_end

False

In [27]:
datetime

Timestamp('2020-12-22 00:00:00')

In [28]:
datetime1

Timestamp('2021-01-05 14:45:00')

In [29]:
datetime

Timestamp('2020-12-22 00:00:00')

In [30]:
datetime1.minute

45

In [31]:
datetime.month

12

#### Month in which quarter

In [32]:
datetime.quarter

4

In [33]:
datetime1.quarter

1

#### Time stamp unique value

In [34]:
datetime.value

1608595200000000000

In [35]:
datetime1.value

1609857900000000000

#### Week of the Year

In [36]:
datetime.week

52

In [37]:
datetime.weekofyear

52

#### Year of the data

In [38]:
datetime.year

2020

In [39]:
datetime1.year

2021

#### Today

In [40]:
datetime.today()

Timestamp('2021-01-28 16:08:06.461983')

In [41]:
datetime

Timestamp('2020-12-22 00:00:00')

In [42]:
datetime.month_name()

'December'

In [43]:
datetime.day_name()

'Tuesday'

## Time Series in DataFrame

#### Reading dataset

In [44]:
shareData = pd.read_csv('shirpurGoldRefinery.csv')

In [45]:
shareData

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.70
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.80
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.30
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.80
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,6-January-2017,110.10,110.1,107.80,110.10,110.048719,2771,34,304945.0,2045,73.80,2.30,0.00
244,5-January-2017,101.00,104.9,100.00,104.90,103.352347,9993,147,1032800.0,5969,59.73,4.90,3.90
245,4-January-2017,99.50,102.0,99.50,99.95,100.293226,4488,101,450116.0,3422,76.25,2.50,0.45
246,3-January-2017,102.00,102.0,100.05,100.65,100.784909,6295,101,634441.0,4205,66.80,1.95,-1.35
247,2-January-2017,104.00,104.0,99.00,101.65,101.302024,5483,182,555439.0,5062,92.32,5.00,-2.35

#### Localizing zeroth row and Date column

In [46]:
shareData.at[0,'Date']

'29-December-2017'

In [47]:
type(shareData.at[0,'Date'])

str

#### Creating new Column with name TimeStamp and storing the timestamp values of the Date column of the DataFrame.

In [48]:
shareData['TimeStamp'] = pd.to_datetime(shareData.Date,format='%d-%B-%Y')

In [49]:
shareData

,Date,Open Price,High Price,Low Price,Close Price,WAP,No.of Shares,No. of Trades,Total Turnover (Rs.),Deliverable Quantity,% Deli. Qty to Traded Qty,Spread High-Low,Spread Close-Open,TimeStamp
0,29-December-2017,203.55,206.5,201.00,201.85,202.760380,3372,68,683708.0,2202,65.30,5.50,-1.70,2017-12-29
1,28-December-2017,202.00,207.6,199.55,202.80,203.118439,8612,196,1749256.0,5063,58.79,8.05,0.80,2017-12-28
2,27-December-2017,209.10,213.6,195.20,197.80,202.801825,24983,426,5066598.0,14168,56.71,18.40,-11.30,2017-12-27
3,26-December-2017,216.50,219.9,207.20,209.70,213.418007,17782,363,3794999.0,7540,42.40,12.70,-6.80,2017-12-26
4,22-December-2017,218.95,233.6,212.40,218.15,223.089049,165976,2710,37027428.0,60121,36.22,21.20,-0.80,2017-12-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,6-January-2017,110.10,110.1,107.80,110.10,110.048719,2771,34,304945.0,2045,73.80,2.30,0.00,2017-01-06
244,5-January-2017,101.00,104.9,100.00,104.90,103.352347,9993,147,1032800.0,5969,59.73,4.90,3.90,2017-01-05
245,4-January-2017,99.50,102.0,99.50,99.95,100.293226,4488,101,450116.0,3422,76.25,2.50,0.45,2017-01-04
246,3-January-2017,102.00,102.0,100.05,100.65,100.784909,6295,101,634441.0,4205,66.80,1.95,-1.35,2017-01-03
247,2-January-2017,104.00,104.0,99.00,101.65,101.302024,5483,182,555439.0,5062,92.32,5.00,-2.35,2017-01-02

In [50]:
type(shareData.at[0,'Date'])

str

In [51]:
type(shareData.at[0,'TimeStamp'])

pandas._libs.tslibs.timestamps.Timestamp

#### Timestamp help you order the dates in Time manner

In [52]:
shareData.TimeStamp.max()

Timestamp('2017-12-29 00:00:00')

In [53]:
shareData.Date.max()

'9-October-2017'

In [54]:
shareData.Date.min()

'1-August-2017'

In [55]:
shareData.TimeStamp.min()

Timestamp('2017-01-02 00:00:00')

In [56]:
shareData = shareData[['Open Price','High Price', 'Low Price',
                       'Close Price','TimeStamp']]

In [57]:
shareData.head()

   Open Price  High Price  Low Price  Close Price  TimeStamp
0      203.55       206.5     201.00       201.85 2017-12-29
1      202.00       207.6     199.55       202.80 2017-12-28
2      209.10       213.6     195.20       197.80 2017-12-27
3      216.50       219.9     207.20       209.70 2017-12-26
4      218.95       233.6     212.40       218.15 2017-12-22

In [58]:
len(shareData)

248

In [59]:
dt1 = '2017-05-02'
dt2 = '2017-06-02'
date1 = pd.to_datetime(dt1)
date2 = pd.to_datetime(dt2)
print(date1)
print(date2)

2017-05-02 00:00:00
2017-06-02 00:00:00

In [60]:
shareData[(date1 < shareData.TimeStamp) & (shareData.TimeStamp < date2)]

     Open Price  High Price  Low Price  Close Price  TimeStamp
145      134.90      145.00     133.00       142.65 2017-06-01
146      131.75      136.55     131.75       136.10 2017-05-31
147      132.70      136.80     131.00       133.80 2017-05-30
148      131.00      137.95     130.00       134.30 2017-05-29
149      128.00      138.05     127.50       132.40 2017-05-26
150      125.40      130.50     123.00       128.10 2017-05-25
151      127.20      128.00     121.75       123.35 2017-05-24
152      131.00      131.00     126.55       127.50 2017-05-23
153      129.00      133.50     126.45       131.40 2017-05-22
154      132.20      137.80     126.45       130.15 2017-05-19
155      130.00      134.45     125.00       130.85 2017-05-18
156      125.60      136.25     125.60       134.45 2017-05-17
157      132.00      134.30     124.60       126.90 2017-05-16
158      128.00      137.60     127.90       133.85 2017-05-15
159      117.50      128.00     116.70       124.65 2017-05-12
160      113.15      120.10     111.70       118.75 2017-05-11
161      111.60      115.20     109.00       113.60 2017-05-10
162      113.45      115.00     110.55       111.75 2017-05-09
163      109.00      114.10     107.05       112.70 2017-05-08
164      115.00      117.40     108.10       109.65 2017-05-05
165       98.20      115.25      97.95       112.65 2017-05-04
166      101.00      101.00      98.20        98.35 2017-05-03

In [61]:
len(shareData[(date1 < shareData.TimeStamp) & (shareData.TimeStamp < date2)])

22

Do not put on web or share notes without written permission.
Notes created By Reshma